/* 主設定 */
*, *:before, *:after{
  box-sizing: border-box;
  outline: 1px solid lightskyblue;
  margin: 0 auto;
  width: 50%;
}
body{
  font-family: "Castoro", serif;
  line-height: 1.5;
  color:#000;
  line-height: 1.5;
}
img{
  height: auto;
  height: auto;
  display: block;
}
a{
  color:black;
  text-decoration: none;
}

/* header設定 */


/* banner設定 */

/* main設定 */

/* footer設定 */