@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 主設定 */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0 auto;
  /* outline: 1px solid lightskyblue; */
}

body {
  font-family: "Castoro", serif;
  line-height: 1.5;
  color: #000;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1296px;
  max-width: 100%;
  margin: 0 auto;
}

.w-50 {
  width: 50%;
}

/* font-style */
h1, h2 {
  font-size: 128px;
  letter-spacing: 0.12em;
}

h3 {
  font-size: 40px;
  color: #ae0000;
  border-bottom: 3px solid #AE0000;
}

.fs-32 {
  font-size: 32px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
  color: #949494;
  font-style: italic;
}

/*各區塊排版*/
.p-t-160 {
  padding-top: 160px;
}

.p-s {
  padding: 48px 0;
}

.p-m {
  padding: 64px 0;
}

.p-l {
  padding-top: 80px;
  padding-bottom: 160px;
}

.m-0-a {
  margin: 0 auto;
}

.t-a-c {
  text-align: center;
}

.m-l-a {
  margin-left: auto;
}

/* 間距設定 */
.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-10 {
  margin-bottom: 40px;
}

.mr-40 {
  margin-right: 40px;
}

/* footer設定 */
.footer {
  background-color: #000;
}
ul.dial{
    text-align: center;
}
li.dial{
    display: inline-block;
}
/* img.dial{
    display: block;
} */
